<%= form_with(model: @blog, local: true) do |form| %>

  <div class="show">
    <div class="time">
    <div class="edit-time">日付</div>
    <%#= form.datetime_select :start_time %>
    <%= form.date_field :start_time %>
  </div>

  <div class="title">
    <div class="edit-title">やること</div>
    <div class="edit-text">
      <%= form.text_field :title%>
    </div>
  </div>


  <div class="content">
    <div class="edit-content">メモ</div>
    <div class="edit-text">
      <%= form.text_field :content %>
    </div>
  </div>

  <div class="diary">
    <div class="edit-diary">日記</div>
    <div class="edit-text">
      <%= form.text_field :diary %>
    </div>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
  </div>

<% end %>