<div>
  <div>
    <p id="notice"><%= notice %></p>
    <div class="show">
      <p class="show-teim">
        <strong>日付</strong>
        <%= @blog.start_time.strftime("%m-%d") %>
      </p>
      <p class="show-title">
        <strong>やること</strong>
        <p class="title-text">
          <%= @blog.title %>
        </p>
      </p>

      <p class="show-content">
        <strong>メモ</strong>
        <p class="content-text">
          <%= @blog.content %>
        </p>
      </p>

      <p class="show-diary">
        <strong>日記</strong>
        <p class="diary-text">
          <%= @blog.diary %>
        </p>
      </p>
      
      <div class="show-button">
        <div class="edit-button">
          <%= link_to '編集', edit_blog_path(@blog) %>
        </div>
        <div class="delete-button">
        <%= link_to '消去',blog_path(@blog.id), method: :delete, data: { confirm: '本当に?' } %>
        </div>
        <div class="blog-button">
          <%= link_to '戻る', blogs_path %>
        </div>
      </div>
    </div>
  </div>
</div>